layout {

    focus-ring {
        active-color   "#e8b7e9"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e8b7e9"
        inactive-color "#161215"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e8b7e9"
        inactive-color "#603a64"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e8b7e980"
    }
}

recent-windows {
    highlight {
        active-color "#e8b7e9"
        urgent-color "#ffb4ab"
    }
}
