// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"floorp$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  match title="^Temp Cat$"
  open-floating true
  default-column-width { proportion 0.5; }
  default-window-height { fixed 500; }
  default-floating-position x=0 y=10 relative-to="top"

  background-effect {
    xray false
  }
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#

  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.5; }

  block-out-from "screen-capture"
  open-floating true
  // baba-is-float true

  opacity 0.8
  background-effect {
    blur true
    xray false
    noise 0.1
  }

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

window-rule {
  match app-id=r#"^zen$"#
  background-effect {
    blur true
  }
}

window-rule {
  match app-id=r#"^imv$"#
  background-effect {
    blur true
  }
}

window-rule {
  match title="Enter LaTeX Formula - TexText 1.13.0"
  open-floating true

  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.5; }
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
